/* Css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
}

.container{
    max-width: 1200px;
    margin: 50px auto;
}

.wrapper{
    min-width: 550px;
}

/* Generics */
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

main{
    height: calc(100vh - 150px);
    overflow-y: auto;
}

header{
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 50px;
}

footer{
    background-color: #222222;
    height: 100px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* Header */
.view{
    font-size: 16px;
}

.view > *{
    background-color: gray;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Footer */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-align: center;
    display: block;
    padding: 10px;
}

.navbar a:hover{
    background-color: #4A4A4A;
    cursor: pointer;
}

.icon{
    font-size: 35px;
}

.text-icon{
    font-size: 16px;
}

.nav_left{
    flex-basis: 20%;
    justify-content: flex-start;
    align-items: center;
}

.nav_center{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.nav_right{
    flex-basis: 20%;
    justify-content: flex-end;
    align-items: center;
}

.end_meeting{
    color: red;
}

/* Main */
.row{
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    position: relative;
}

.col_name{
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.col_img{
    width: auto;
    height: 100px;
}

.col{
    flex-basis: 20%;
    padding: 10px;
}









